body {
    background-color: lightgoldenrodyellow;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-right: 10px;
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: 10px;
    filter: drop-shadow(1.5px 1.5px 1.2px #666);
}

.counterClass {
    padding: 5px;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 5px;
    filter: drop-shadow(1.5px 1.5px 1.2px #666);
}